site_name: Creatio Freedom UI Docs
site_url: https://mrseriousvforytb-afk.github.io/creatio_docs/
site_description: Документация по разработке на Creatio Freedom UI

repo_name: creatio_docs
repo_url: https://github.com/mrseriousvforytb-afk/creatio_docs

theme:
  name: material
  language: ru
  palette:
    - scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Тёмная тема
    - scheme: slate
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Светлая тема
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

plugins:
  - search:
      lang: ru

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - toc:
      permalink: true

nav:
  - Главная: index.md
  - Элементы UI:
      - Обзор: elements/index.md
      - crt.Button: elements/button.md
